{% extends 'base.html.twig' %}

{% block title %}Terre d'Avalonne - Liste de nos produits{% endblock %}

{% block body %}


	<div class="container js-filter">
		{#              HEAD             #}
		{{ include ('template/_head_page.html.twig', {title: 'Des Produits pour Les Hommes!'}) }}

		{#              BAR_FILTER             #}
		<div class="row">
			<div class="col-lg-3 col-md-5">
				<div class="row js-filter-form filter">
					{% include 'products/_products_bar_filter.html.twig' with {form: form, products: products} only %}
				</div>
			</div>
			<div class="col-lg-9 col-md-7 ">
				<div class="row product__discount">
					<div class="section-title product__discount__title">
						<h2>Sale Off</h2>
					</div>
					<div class="row">
						<div class="product__discount__slider owl-carousel owl-loaded owl-drag">
							<div class="owl-stage-outer">
								<div class="owl-stage">
									{% for i in 0..2 %}
										<div class="owl-item w-full" >
											<div class="w-full">
												<div class="product__discount__item">
													<div class="product__discount__item__pic set-bg" data-setbg="img/product/discount/pd-4.jpg" style="background-image: url('https://preview.colorlib.com/theme/ogani/img/product/discount/pd-3.jpg.webp');">
														<div class="product__discount__percent">-20%</div>
														<ul class="product__item__pic__hover">
															<li><a href="#"><i class="fa fa-heart"></i></a></li>
															<li><a href="#"><i class="fa fa-retweet"></i></a></li>
															<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
														</ul>
													</div>
													<div class="product__discount__item__text">
														<span>Dried Fruit</span>
														<h5><a href={{path('app_products')}}>Raisin’n’nuts</a></h5>
														<div class="product__item__price">$30.00 <span>$36.00</span></div>
													</div>
												</div>
											</div>
										</div>
									{% endfor %}
								</div>
							</div>
							<div class="owl-dots">
								<button role="button" class="owl-dot">
									<span></span>
								</button>
								<button role="button" class="owl-dot active"><span></span></button>
								<button role="button" class="owl-dot"><span></span></button></div>
						</div>
					</div>
				</div>

				<div class="row js-filter-content">
					{% include 'products/_products.html.twig'%}
				</div>
				<div class="row mt-30 float-right">
					<div class="js-filter-pagination">
						{{ knp_pagination_render(pagination, 'products/_pagination.html.twig') }}
					</div>
				</div>
			</div>
		</div>
	</div>

    {# <div class="product-wrapper"> #}
        {#              HEAD                #}
        {# {{ include ('template/_head_page.html.twig', {title: 'Formation - Nom du produit - accroche'}) }} #}
        {# <div class="d-flex justify-center p-16">
            <video  controls>
                <source src=”http://techslides.com/demos/sample-videos/small.ogv” type=video/ogg> <source src="/build/videos/arcnet.io(7-sec).mp4" type=video/mp4>
            </video>
        </div> #}
        {#              BODY                #}
        {# {{ include ('products/_product_body.html.twig') }} #}
        {#              RELATED_PRODUCT             #}
        {# {{ include ('products/_product_footer.html.twig') }} #}
    {# </div> #}
{% endblock %}
