<div class="col-lg-6 col-md-6 col-sm-6 mb-32">

	<div>
		<div>
			<img class="rounded-3" src="{{ asset('images/not_found_picture.png') }}"  alt="plants-pictures-not-found"/>
		</div>
		<div class="text d-block mt-10">
			{#<div class="meta mb-3 d-flex">
				<p>{{ event.dateCreation|date("d/m/Y") }}</p>
				<p>Admin</p>
			</div> #}
			<h3 class="heading">
				{{ event.name }}
			</h3>
			<p>date de début de l'événement :
				{{ event.dateDebutEvenement|date("d/m/Y") }}</p>
			<p>date de fin de l'événement :
				{{ event.dateFinEvenement|date("d/m/Y") }}</p>
			<p>Nombre de place :{{ event.numberPlace }}
			</p>
			<p class="heading-description mb-30">{{ event.presentation }}</p>
			<div class="d-flex justify-between">

				<p>
					<a href="blog-single.html" class="btn btn-primary py-2 px-3">Voir</a>
				</p>
				<p>
					{% for elementP in event.elementPhyto %}
						<em class="text-muted text-primary text-italic">#{{ elementP.name }}</em>
					{% endfor %}
				</p>
				<p>
					{% for elementBase in event.elementbases %}
						<a class="btn btn-primary py-2 px-3" style="background: {{ elementBase.color }} !important;">{{ elementBase.name }}</a>
					{% endfor %}
				</p>
			</div>
		</div>
	</div>
</div>
